SQL AND SQLite


SQL(Structured Query Language) is a standard language for managing and manipulating relational databases.SQLite is a self-contained,serverless,and zero-configuration database engine that is widely used for embedded database systems.in this lesson,we will cover the basics of SQL and SQLite,including creating databases,tables,and performing various SQL operations

In [63]:
import sqlite3

In [64]:
#connect to an SQLite database
connection=sqlite3.connect("example1.db")
connection

In [65]:
cursor=connection.cursor()

In [66]:
##create a table
cursor.execute('''
create Table if not exists employ(
    id Integer Primary Key,
    name Text Not Null,
    age Integer,
    departement Text
    )
''')
connection.commit()

In [67]:
cursor.execute('''
Select * from employ
''')

In [68]:
##Insert the data in sqlite table

cursor.execute('''
Insert Into employ(name,age,departement)
               values('krish',32,'Data Scientist')
''')

cursor.execute('''
Insert Into employ(name,age,departement)
               values('bob',25,'Engineering')
''')

cursor.execute('''
Insert Into employ(name,age,departement)
               values('charlie',35,'Finance')
''')


##commit the changes
connection.commit()

In [69]:
##query the data from the table
cursor.execute('select * from employ')
rows=cursor.fetchall()
# print the query data
for row in rows:
    print(row)

(1, 'krish', 32, 'Data Scientist')
(2, 'bob', 25, 'Engineering')
(3, 'charlie', 35, 'Finance')

In [70]:
##update the data in table
cursor.execute('''
UPDATE employ
set age=34
where name='krish'
''')
connection.commit()

In [71]:
cursor.execute('select * from employ')
rows=cursor.fetchall()
# print the query data
for row in rows:
    print(row)

(1, 'krish', 34, 'Data Scientist')
(2, 'bob', 25, 'Engineering')
(3, 'charlie', 35, 'Finance')

In [72]:
##delete the data from the table
cursor.execute('''
delete from employ
               where name='bob'
               ''')

In [73]:
cursor.execute('select * from employ')
rows=cursor.fetchall()
# print the query data
for row in rows:
    print(row)

(1, 'krish', 34, 'Data Scientist')
(3, 'charlie', 35, 'Finance')

In [74]:
##working with sales data
connection=sqlite3.connect('sales_data.db')
cursor=connection.cursor()
cursor.execute('''
create table if not exists sels(
               id int primary key,
               date text not null,
               product text not null,
               sales int,
               region text
               )
''')
sales_data = [
        ('2023-01-01','product1',100,'north'),
        ('2023-01-02','product2',200,'south'),
        ('2023-01-03','product1',150,'east'),
        ('2023-01-04','product3',250,'west'),
        ('2023-01-05','product2',300,'north')
]
cursor.executemany('''
insert into sels(date,product,sales,region)
                   values(?,?,?,?)
''',sales_data)
connection.commit()

In [75]:
cursor.execute('select * from sels')
rows=cursor.fetchall()
# print the query data
for row in rows:
    print(row)

(None, '2023-01-01', 'product1', 100, 'north')
(None, '2023-01-02', 'product2', 200, 'south')
(None, '2023-01-03', 'product1', 150, 'east')
(None, '2023-01-04', 'product3', 250, 'west')
(None, '2023-01-05', 'product2', 300, 'north')

In [76]:
connection.close()

In [77]:
cursor.execute('select * from sels')
rows=cursor.fetchall()
# print the query data
for row in rows:
    print(row)

ProgrammingError: Cannot operate on a closed database.